<a [routerLink] = "['/tank']"> Back </a>
<div class = "example-container">
  <form (submit) = "addDailyData(logData)">
  
    <label [(ngModel)]="logData.date" name="date"> Date </label>
     
  
    
      <label> Temperature</label>
      
   <mat-slider><input [(ngModel)]= "logData.temperature" name="temperature" [min]="40" [max]= "60" [step]= "0.5"></mat-slider>
    
  
    
      <label> Pumps</label>
      <br>
      <mat-checkbox>
        <input [(ngModel)]="logData.pump1">pump 1</mat-checkbox>
      
      <br>
      <mat-checkbox>pump 2 </mat-checkbox>
      <br>
      <mat-checkbox>pump 3</mat-checkbox>
      <br>
      <mat-checkbox>pump 4 </mat-checkbox>
    

 
      <label> Backwash </label>
      <mat-checkbox> Complete </mat-checkbox>
   

    
      <label> Skimmer</label>
      <mat-checkbox> Cleaned </mat-checkbox>
    

      <label> Notes</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
  
    
  </form>  
  </div>
   
    