<a [routerLink] = "['/tank']"> Back </a>

  <form>
  
    <label type="datetime-local" name="date" > {{logData.date | date: "MM-dd"}} </label>
    
  
    
      <label> Temperature</label>
      
    <mat-slider [(ngModel)]= "logData.temperature" name="temperature" [min]="40" [max]= "60" [step]= "0.5"></mat-slider>
    
  
    
      <label> Pumps</label>
      <br>
      <mat-checkbox [(ngModel)]="logData.pump1" name="pump1">pump 1</mat-checkbox>
      
      <br>
      <mat-checkbox
        input [(ngModel)]="logData.pump2" name="pump2">pump 2 </mat-checkbox>
      <br>
      <mat-checkbox
        input [(ngModel)]="logData.pump3" name="pump3">pump 3</mat-checkbox>
      <br>
      <mat-checkbox
        input [(ngModel)]="logData.pump4" name="pump4">pump 4 </mat-checkbox>
    

 
      <label> Backwash </label>
      <mat-checkbox 
        input [(ngModel)]="logData.backwash" name="backwash">Complete </mat-checkbox>
   

    
      <label> Skimmer</label>
      <mat-checkbox> Cleaned </mat-checkbox>
    

      <label> Notes</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
  
      <button type = "button" mat-button (click)="addDailyData(logData)"> Save </button>
  </form>  

   
    