<a [routerLink] = "['/tank']"> Back </a>
<div>
  <mat-form-field>
    <label> Date</label>
    

</mat-form-field>  
  <mat-form-field>
      <label> Temperature</label>
      <input matInput placeholder="mat-Input"[(ngModel)]= "temperature" name  = "temperature">
   <mat-slider></mat-slider>
    </mat-form-field>
  
    <mat-form-field>
      <label> Pumps</label>
      <br>
      <mat-checkbox>pump 1</mat-checkbox>
      <br>
      <mat-checkbox>pump 2 </mat-checkbox>
      <br>
      <mat-checkbox>pump 3</mat-checkbox>
      <br>
      <mat-checkbox>pump 4 </mat-checkbox>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>
  
    
    </div>
   
    